{% extends 'base.html.twig' %}

{% block pageTitle %}CostaFitness : Bilan trimestriel{% endblock %}
{% block headingTitle %}Bilan trimestriel{% endblock %}
{% block pageClass %}resultsPage{% endblock %}

{% block body %}
    {{ form_start(form) }}
    <div class="row">
        <div class="row col s6" style="padding: 2%;">
            <div class="row z-depth-2">
                <i class="small material-icons right">insert_chart</i>
                <h5>Mensurations</h5>
                <div class="col s6">
                    <label for="weight">Poids (en Kg)</label>
                    {{ form_widget(form.weight) }}

                    <label for="imc">Votre IMC est de :</label>
                    {{ form_widget(form.imc) }}
                    <label for="shoulders">Epaules en cm</label>
                    {{ form_widget(form.shoulders) }}

                    <label for="pectorals">Pectoraux en cm</label>
                    {{ form_widget(form.pectorals) }}
                </div>
                <div class="col s6">

                    <label for="hipSize">Tour de taille en cm</label>
                    {{ form_widget(form.hipSize) }}

                    <label for="arms">Bras contracté en cm</label>
                    {{ form_widget(form.arms) }}

                    <label for="thighs">Cuisse en cm</label>
                    {{ form_widget(form.thighs) }}
                </div>

                <img src="/bundles/app/images/mesureMensurations.jpg" alt="" style="width:100%"/>
                              

            </div>
        </div>
        <div class="row col s6" style="padding: 2%;">
            <div class="row z-depth-2 photos">
                <i class="small material-icons right">picture_in_picture</i>
                <h5>Vos photos</h5>
                <blockquote> 
                    Prenez vos photos en format portrait.
                    Cadrez les photos de vos genoux jusqu'au dessus de la tête.
                    Les bras sont relâchés le long du corps et l'attitude naturelle.
                    L'éclairage doit être facilement reproductible.
                    Les photos ne respectant pas ces consignes ne pourront être traitées
                </blockquote>
                <div class="col s4">
                    <label>Photo de face</label>
                    <div class="file-field input-field">
                        <div class="btn">
                            <span>Image</span>
                            {{ form_widget(form.photoFront) }}
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text">
                        </div>
                    </div>
                    {% if form.vars.value.photoFront is not null %}
                        <a class="fancybox" rel="group" href="{{ asset('uploads/photos/' ~ form.vars.value.photoFront) }}"><img id="preview_photoFront" src="{{ asset('uploads/photos/' ~ form.vars.value.photoFront) }}" /></a>
                        {% else %}  
                        <img id="preview_photoFront" src=""/>
                    {% endif %}
                </div>
                <div class="col s4">
                    <label>Photo de coté</label>
                    <div class="file-field input-field">
                        <div class="btn">
                            <span>Image</span>
                            {{ form_widget(form.photoSide) }}
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text">
                        </div>
                    </div>
                    {% if form.vars.value.photoSide is not null %}
                        <a class="fancybox" rel="group" href="{{ asset('uploads/photos/' ~ form.vars.value.photoSide) }}"><img id="preview_photoSide" src="{{ asset('uploads/photos/' ~ form.vars.value.photoSide) }}" /></a>
                        {% else %}  
                        <img id="preview_photoSide" src=""/>
                    {% endif %}
                </div>
                <div class="col s4">
                    <label>Photo de dos</label>
                    <div class="file-field input-field">
                        <div class="btn">
                            <span>Image</span>
                            {{ form_widget(form.photoBack) }}
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text">
                        </div>
                    </div>
                    {% if form.vars.value.photoBack is not null %}
                        <a class="fancybox" rel="group" href="{{ asset('uploads/photos/' ~ form.vars.value.photoBack) }}"><img id="preview_photoBack" src="{{ asset('uploads/photos/' ~ form.vars.value.photoBack) }}" /></a>
                        {% else %}  
                        <img id="preview_photoBack" src=""/>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="center-align"><button type="submit" class="btn">Envoyez votre bilan trimestriel <i class="material-icons right">send</i></button></div>
        {{ form_end(form) }}
    </div>
{% endblock %}