{% extends 'base.html.twig' %}

{% block pageTitle %}CostaFitness : Bilan trimestriel{% endblock %}
{% block headingTitle %}Bilan trimestriel{% endblock %}
{% block pageClass %}resultsPage{% endblock %}

{% block body %}
    {{ form_start(form) }}
        <div class="initFormSection halfElement">
            <h2>Vos mensurations</h2>
            <div class="content">

                <div class="halfElement">
                    <label for="weight">Poids en Kg</label>
                    {{ form_widget(form.weight) }}

                    <label for="imc">Masse grasse en %</label>
                    {{ form_widget(form.imc) }}
                </div>

                <div class="halfElement">
                    <label for="shoulders">Epaules en cm</label>
                    {{ form_widget(form.shoulders) }}

                    <label for="pectorals">Pectoraux en cm</label>
                    {{ form_widget(form.pectorals) }}

                    <label for="hipSize">Tour de taille en cm</label>
                    {{ form_widget(form.hipSize) }}

                    <label for="arms">Bras contracté en cm</label>
                    {{ form_widget(form.arms) }}

                    <label for="thighs">Cuisse en cm</label>
                    {{ form_widget(form.thighs) }}


                </div>
                <div class="questionContainer">
                    <img src="/bundles/app/images/mesureMensurations.jpg" alt=""/>
                </div> 
            </div> 
        </div>
        <div class="initFormSection halfElement">
            <h2>Vos photos</h2>
            <div class="content photoUpload">
                <div class="thirdElement">
                    <h3>Photo bilan face</h3>
                    {{ form_widget(form.photoFront) }}
                    {% if form.vars.value.photoFront is not null %}
                        <img src="{{ asset('uploads/photos/' ~ form.vars.value.photoFront) }}" />
                    {% endif %}     
                <img class="preview" src=""/>
                </div>
                <div class="thirdElement">
                    <h3>Photo bilan coté</h3>
                    {{ form_widget(form.photoSide) }}
                    {% if form.vars.value.photoSide is not null %}
                        <img src="{{ asset('uploads/photos/' ~ form.vars.value.photoSide) }}" />
                    {% endif %}
                <img class="preview" src=""/>
                </div>
                <div class="thirdElement">
                    <h3>Photo bilan dos</h3>
                    {{ form_widget(form.photoBack) }}
                    {% if form.vars.value.photoBack is not null %}
                        <img src="{{ asset('uploads/photos/' ~ form.vars.value.photoBack) }}" />
                    {% endif %} 
                <img class="preview" src=""/>
                </div>

            </div> 
        </div>
        <div class="submitContainer"><input type="submit" value="Envoyez votre bilan trimestriel" class="btn bigBtn"></div>
    {{ form_end(form) }}

{% endblock %}