{% extends 'base.html.twig' %}

{% block pageTitle %}CostaFitness : Bilan{% endblock %}
{% block headingTitle %}Bilan à 4 semaines{% endblock %}
{% block pageClass %}initForm{% endblock %}

{% block body %}

    {{ form_start(form) }}
    <div class="initFormSection halfElement">
        <h2>Bilan alimentaire</h2>
        <div class="content">

            <div class="formSection">
                <div class="questionContainer">
                    <label for="questions">Tes questions et tes sensations :
                    </label>
                    {{ form_widget(form.questions) }}
                </div>                
                <div class="questionContainer">
                    <label for="evaluation">Sur une échelle de 1 à 10, à combien évalues tu le suivi du plan alimentaire en termes
                        de quantités et de qualités des aliments ?</label>
                        {{ form_widget(form.evaluation) }}
                </div>    
                <div class="questionContainer">
                    <label for="physicalChange">Des éventuels changements physiques que tu as pu constater : 
                    </label>
                    {{ form_widget(form.physicalChange) }}
                </div>
            </div> 
        </div>

    </div>

    <div class="initFormSection halfElement">
        <h2>Vos mensurations</h2>
        <div class="content">

            <div class="halfElement">
                <label for="weight">Poids en Kg (mesure initial {{form.vars.value.pack.initial.weight}}kg )</label>
                {{ form_widget(form.weight) }}

                <label for="hipSize">Tour de taille en cm (mesure initial {{form.vars.value.pack.initial.hipSize}}cm )</label>
                {{ form_widget(form.hipSize) }}

            </div>
        </div> 
    </div>
    <div class="initFormSection halfElement">
        <h2>Bilan musculation</h2>
        <div class="content">

            <div class="formSection">
                <div class="questionContainer">
                    <label for="method">Méthode du programme (notée en 1ère page de ton programme) : par exemple, 5-7-9 
RM ou drop set ou 3 RM :</label>
                    {{ form_widget(form.method) }}
                </div>    
            </div> 
            <div class="formSection">
                <div class="questionContainer">
                    <label for="feedback">Déroulement et durée des séances :</label>
                    {{ form_widget(form.feedback) }}
                </div>    
            </div> 
            <div class="formSection">
                <div class="questionContainer">
                    <label for="performance">Performances (1 exercice par muscle avec le nombre de répétitions et le poids total) : 
par exemple développé couché 6 x 50 Kg</label>
                    {{ form_widget(form.performance) }}
                </div>    
            </div> 
            <div class="formSection">
                <div class="questionContainer">
                    <label for="recovery">Récupération et courbatures :</label>
                    {{ form_widget(form.recovery) }}
                </div>    
            </div> 
        </div> 
    </div>
    <div class="submitContainer"><input type="submit" value="Envoyez votre bilan alimentaire" class="btn bigBtn"></div>
        {{ form_end(form) }}

{% endblock %}
