{% extends 'base.html.twig' %}
{% set pack = initial.packs.first() %}

{% block pageTitle %}CostaFitness : Bilan initial pack musculation{% endblock %}
{% block headingTitle %}Bilan Initial{% endblock %}
{% block pageClass %}initForm{% endblock %}


{% block body %}
    {{ form_start(form) }}
    <div class="row">
        <div class="col s6" style="padding: 2%;">
            <div class="row z-depth-2">
                <i class="small material-icons right">perm_identity</i>
                <h5>Coordonnées</h5>
                <div class="col s6">
                    <label for="prenom">Prénom</label>
                    {{ form_widget(form.firstname) }}

                    <label for="nom">Nom</label>
                    {{ form_widget(form.lastname) }}

                    <label for="adresse">Adresse</label>
                    {{ form_widget(form.address) }}

                    <label for="cp">Code postal</label>
                    {{ form_widget(form.zipCode) }}

                    <label for="ville">Ville</label>
                    {{ form_widget(form.city) }}

                </div>

                <div class="col s6">
                    <label for="tel">Téléphone</label>
                    {{ form_widget(form.phoneMobile) }}

                    <label for="mail">Email</label>
                    {{ form_widget(form.email) }}

                    <label for="naissance">Date de naissance</label>
                    {{ form_widget(form.birthday) }}

                    <label for="metier">Métier</label>
                    {{ form_widget(form.job) }}
                </div>
            </div>

            <div class="row z-depth-2">
                <i class="small material-icons right">play_for_work</i>
                <h5>Le sport et vous</h5>
                <blockquote>Rédigez clairement vos réponses avec des phrases courtes et précises.</blockquote>
                <label for="exercises">Quels types d'entraînements faites vous, combien de fois par semaine et depuis quand ?</label>
                {{ form_widget(form.exercises) }}

                <label for="practiceLocation">Vous effectuez votre entrainement en salle ou à domicile ? Si à domicile merci de préciser le matériel dont vous disposez.</label>
                {{ form_widget(form.practiceLocation) }}

                <label for="health">Avez-vous des problèmes de santé actuellement?
                    Avez-vous des antécédents traumatologiques?
                </label>
                {{ form_widget(form.health) }}

                <label for="treatment">Suivez-vous un traitement médical actuellement?</label>
                {{ form_widget(form.treatment) }}
                <label for="smoker">Est-ce que vous fumez? Si oui, combien de cigarettes par jour?</label>
                {{ form_widget(form.smoker) }}
            </div>

            <div class="row z-depth-2">
                <i class="small material-icons right">trending_up</i>
                <h5>Vos objectifs</h5>
                <label for="objectives">Quelles attentes avez-vous de ce coaching ?</label>
                {{ form_widget(form.objectives) }}

                <label for="objectivesDetail">Précisez si vous le désirez :
                </label>
                {{ form_widget(form.objectivesDetail) }}

            </div>

            <div class="row z-depth-2">
                <i class="small material-icons right">insert_chart</i>
                <h5>Mensurations</h5>
                <div class="col s6">
                    <label for="height">Taille (en cm)</label>
                    {{ form_widget(form.height) }}

                    <label for="weight">Poids (en Kg)</label>
                    {{ form_widget(form.weight) }}

                    <label for="imc">Votre IMC est de :</label>
                    {{ form_widget(form.imc) }}

                    <label for="shoulders">Epaules (en cm)</label>
                    {{ form_widget(form.shoulders) }}
                </div>
                <div class="col s6">
                    <label for="pectorals">Pectoraux / poitrine (en cm)</label>
                    {{ form_widget(form.pectorals) }}

                    <label for="arms">Bras contracté (en cm)</label>
                    {{ form_widget(form.arms) }}

                    <label for="thighs">Cuisse (en cm)</label>
                    {{ form_widget(form.thighs) }}

                    <label for="hipSize">Tour de taille (en cm)</label>
                    {{ form_widget(form.hipSize) }}
                </div>

                {#                    <img src="/bundles/app/images/mesureMensurations.jpg" alt=""/>
                #}              

            </div>

            <div class="row z-depth-2">
                <i class="small material-icons right">info_outline</i>
                <h5>Divers</h5>
                <label for="source">Comment avez-vous connu le site de David?</label>
                {{ form_widget(form.source) }}

                <label for="attention">Qu'est ce qui a retenu votre attention sur le site?</label>
                {{ form_widget(form.attention) }}
            </div>

        </div>

        <div class="col s6" style="padding: 2%;">
            <div class="row z-depth-2">
                <i class="small material-icons right">shopping_cart</i>
                <h5>Connaitre votre comportement alimentaire</h5>
                <label for="preferences">Précisez moi vos préférences, faiblesses et pulsions alimentaires.</label>
                {{ form_widget(form.preferences) }}

                <label for="drinking"> Indiquez moi tout ce que vous buvez tout au long de la journée.</label>
                {{ form_widget(form.drinking) }}

                <label for="dietarySupplement">Utilisez-vous déjà des compléments alimentaires? Si non, souhaitez-vous en utiliser ?</label>
                {{ form_widget(form.dietarySupplement) }}

                <label for="trainingTime">Indiquez moi l'heure de votre entraînement:</label>
                {{ form_widget(form.trainingTime) }}

                <label for="allergy">Avez vous des allergies et/ou des intolérances alimentaires?</label>
                {{ form_widget(form.allergy) }}
            </div>

            <div class="row z-depth-2">
                <i class="small material-icons right">av_timer</i>
                <h5>Votre alimentation actuelle</h5>
                <blockquote> Indiquez moi les <b>horaires</b> de vos repas et collations sur une journée et <b>tout ce que vous mangez</b> sur une journée (Petit déjeuner - Collation matin - déjeuner - Collation soir - dîner)</blockquote>
                <table class="">
                    <thead>
                        <tr>
                            <th class="time_food" style="width : 25%;">Heure de repas</th>
                            <th>Aliments et quantités</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ form_widget(form.timeFoodOne) }}</td>
                            <td>{{ form_widget(form.foodOne) }}</td>
                        </tr>
                        <tr>
                            <td>{{ form_widget(form.timeFoodTwo) }}</td>
                            <td>{{ form_widget(form.foodTwo) }}</td>
                        </tr>
                        <tr>
                            <td>{{ form_widget(form.timeFoodThree) }}</td>
                            <td>{{ form_widget(form.foodThree) }}</td>
                        </tr>
                        <tr>
                            <td>{{ form_widget(form.timeFoodFour) }}</td>
                            <td>{{ form_widget(form.foodFour) }}</td>
                        </tr>
                        <tr>
                            <td>{{ form_widget(form.timeFoodFive) }}</td>
                            <td>{{ form_widget(form.foodFive) }}</td>
                        </tr>
                        <tr>
                            <td>{{ form_widget(form.timeFoodSix) }}</td>
                            <td>{{ form_widget(form.foodSix) }}</td>
                        </tr>
                    </tbody>
                </table>

                <label for="note"> Précisez moi, si besoin, des remarques sur votre alimentation et votre rythme journalier.</label>
                {{ form_widget(form.note) }}

                <label for="homemadeFood">Pouvez-vous transporter avec vous de la nourriture sur votre lieu de travail?</label>
                {{ form_widget(form.homemadeFood) }}

                <label for="restaurant">Combien de fois par semaine allez vous au restaurant?</label>
                {{ form_widget(form.restaurant) }}
            </div>

            <div class="row z-depth-2 photos">
                <i class="small material-icons right">picture_in_picture</i>
                <h5>Vos photos</h5>
                <blockquote> 
                    Prenez vos photos en format portrait.
                    Cadrez les photos de vos genoux jusqu'au dessus de la tête.
                    Les bras sont relâchés le long du corps et l'attitude naturelle.
                    L'éclairage doit être facilement reproductible.
                    Les photos ne respectant pas ces consignes ne pourront être traitées
                </blockquote>
                <div class="col s4">
                    <label>Photo de face</label>
                    <div class="file-field input-field">
                        <div class="btn">
                            <span>Image</span>
                            {{ form_widget(form.photoFront) }}
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text">
                        </div>
                    </div>
                    {% if form.vars.value.photoFront is not null %}
                        <a class="fancybox" rel="group" href="{{ asset('uploads/photos/' ~ form.vars.value.photoFront) }}"><img id="preview_photoFront" src="{{ asset('uploads/photos/' ~ form.vars.value.photoFront) }}" /></a>
                        {% else %}  
                        <img id="preview_photoFront" src=""/>
                    {% endif %}
                </div>
                <div class="col s4">
                    <label>Photo de coté</label>
                    <div class="file-field input-field">
                        <div class="btn">
                            <span>Image</span>
                            {{ form_widget(form.photoSide) }}
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text">
                        </div>
                    </div>
                    {% if form.vars.value.photoSide is not null %}
                        <a class="fancybox" rel="group" href="{{ asset('uploads/photos/' ~ form.vars.value.photoSide) }}"><img id="preview_photoSide" src="{{ asset('uploads/photos/' ~ form.vars.value.photoSide) }}" /></a>
                        {% else %}  
                        <img id="preview_photoSide" src=""/>
                    {% endif %}
                </div>
                <div class="col s4">
                    <label>Photo de dos</label>
                    <div class="file-field input-field">
                        <div class="btn">
                            <span>Image</span>
                            {{ form_widget(form.photoBack) }}
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text">
                        </div>
                    </div>
                    {% if form.vars.value.photoBack is not null %}
                        <a class="fancybox" rel="group" href="{{ asset('uploads/photos/' ~ form.vars.value.photoBack) }}"><img id="preview_photoBack" src="{{ asset('uploads/photos/' ~ form.vars.value.photoBack) }}" /></a>
                        {% else %}  
                        <img id="preview_photoBack" src=""/>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
                <div class="center-align"><button type="submit" class="btn waves-effect waves-light">Envoyez votre bilan initial <i class="material-icons right">send</i></button></div>

    {{ form_end(form) }}




{% endblock %}
