{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">
        <div class = "col s4">
            <h4>Lier des exercices à {{ category.display }}</h4>
            {{ form_start(edit_form) }}
            {% for exercise in edit_form.exercises %}
                <p {% if get_reference(exercise.vars.value) %}class = "exerciseReference"{% endif %}>{{ form_widget(exercise) }}{{ form_label(exercise) }} </p>
            {% endfor %}
            {{ form_widget(edit_form) }}
            <p>
                <button type="submit" class="btn">Modifier</button>
                <a href="{{ path('category_index') }}" class="btn" >Retour à la liste</a>
            </p>
            {{ form_end(edit_form) }}
        </div>
    </div>
{% endblock %}
