{% extends 'base.html.twig' %}

{% block pageTitle %}CostaFitness : Modification d'exercice {{ exercise.name }}{% endblock %}
{% block headingTitle %}Modification exercice : {{ exercise.name }}{% endblock %}
{% block pageClass %}exerciseList{% endblock %}

{% block body %}

    <aside>
        <a href="{{ path('exercise_index') }}" class="btn">Retour à la liste</a>

    </aside>

        <article class="exerciceModify">
            <header>{{ exercise.name }}</header>

            <main>{{ form_start(edit_form) }}
                {{ form_widget(edit_form) }}
            </main>
            <footer>

                <input type="submit" value="Modifier" class="btn"/>
                {{ form_end(edit_form) }}

                {{ form_start(delete_form) }}
                <input type="submit" value="Supprimer" class="btn delete">
                {{ form_end(delete_form) }}
            </footer>
        </article>

{% endblock %}



