{% extends 'base.html.twig' %}

{% block pageTitle %}CostaFitness : Liste des exercices{% endblock %}
{% block headingTitle %}Liste des exercices{% endblock %}
{% block pageClass %}exerciseList{% endblock %}

{% block body %}

    <aside>
        <a href="{{ path('exercise_new') }}" class="btn">Créer un nouvel exercice</a>

        <a href="{{ path('pack_index') }}" class="btn">Liste des utilisateurs</a>

    </aside>

        {% for exercise in exercises %}
            <article>
                <header {% if exercise.reference %}class = "exerciseReference"{% endif %}>{{ exercise.name }}</header>
                <footer>
                            <a href="{{ path('exercise_show', { 'id': exercise.id }) }}">voir</a>
                            <a href="{{ path('exercise_edit', { 'id': exercise.id }) }}">modifier</a>
                        </footer>
            </article>
        {% endfor %}
    </table>

{% endblock %}
