{% extends 'base.html.twig' %}

{% block body %}
    <h1>Exercices</h1>

    <table>
            <tr>
                <th>Nom</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        {% for exercise in exercises %}
            <tr>
                <td>{{ exercise.name }}</td>
                <td>{{ exercise.description }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('exercise_show', { 'id': exercise.id }) }}">voir</a>
                        </li>
                        <li>
                            <a href="{{ path('exercise_edit', { 'id': exercise.id }) }}">modifier</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
    </table>

    <ul>
        <li>
            <a href="{{ path('exercise_new') }}">Créer un nouvel exercice</a>
        </li>
    </ul>
{% endblock %}
