{% extends 'base.html.twig' %}

{% block body %}            
    <div class="row">
        <div class = "col s4">
            <h4>Lier des exercices</h4>
            {{ form_start(edit_form) }}
            {% for exercise in edit_form.exercises %}
                <p {% if get_reference(exercise.vars.value) %}class = "exerciseReference"{% endif %}>{{ form_widget(exercise) }}{{ form_label(exercise) }} </p>
            {% endfor %}
            {{ form_widget(edit_form) }}
            <p>
                <input type="submit" value="Modifier" class="btn"/>
                <a href="{{ path('pack_index') }}" class="btn">Liste des utilisateurs</a>
            </p>
            {{ form_end(edit_form) }}
        </div>
    </div>
{% endblock %}
