{% extends 'base.html.twig' %}
{% block pageTitle %}CostaFitness : Listing des utilisateurs{% endblock %}
{% block headingTitle %}Listing des athlètes{% endblock %}
{% block pageClass %}userList{% endblock %}

{% block body %}
    <div class="row">
        <form method="get" action="">
            <div class="col s2">    
                <label>Bilan complété</label>
                <select name="completed" onChange="this.parentNode.parentNode.submit()">
                    <option value="all" {% if completed is same as('all') %}selected="selected"{% endif %}>Tous</option>
                    <option value="1" {% if completed is same as('1') %}selected="selected"{% endif %}>Oui</option>
                    <option value="0" {% if completed is same as('0') %}selected="selected"{% endif %}>Non</option>
                </select>
            </div>
        </form> 
    </div>

    <table class="bordered striped highlight responsive-table centered">
        <thead>
            <tr>
                <th>Nom & Prénom</th>
                <th>Mail</th>
                <th>Pack</th> 
                <th>Date de début</th> 
                <th>Options</th> 
                <th>Bilans</th>
                <th>Evolution</th>
                <th>Exercices</th>
                <th>Infos</th>
            </tr>
        </thead>
        <tbody>
            {% for pack in packs %}
                <tr>
                    <td>{{ pack.initial.firstname }} {{ pack.initial.lastname }}</td>
                    <td>
                        <p>
                            <a href="mailto:{{ get_email_wordpress(pack.userId) }}">{{ get_email_wordpress(pack.userId) }}</a>
                        </p>
                    </td>
                    <td>

                        <p>{{ pack.packName }} ({{ ((pack.nbDays - pack.daysLeft) / 28)|round(0, 'ceil') }} / {{ (pack.nbDays / 28)|round(0, 'ceil') }})</p>
                        {% if pack.startedAt is null %}
                            <p><a class="btn waves-effect waves-light" href="{{ path('start_pack', {'pack_id' : pack.id}) }}" >Démarrer</a></p>
                        {% endif %}
                    </td>
                    <td>{% if pack.startedAt %} {{pack.startedAt|date('d/m/Y') }} {% endif %}</td>
                    <td>
                        {% for option in pack.options %}
                            <p>{{option}}</p>
                        {% endfor %}

                    </td>
                    <td>
                        <p><a href="{{ path('initial', {'userId':pack.initial.userId}) }}" class="link">Bilan Initial</a><p>
                            {% for result in pack.results %}
                                {% if result.resultType == constant('AppBundle\\Entity\\Result::ESTHETIC') %}
                                <p><a href="{{ path('results', {'resultId': result.id}) }}" class="link">Bilan {{ result.createdAt|date('d/m/Y') }}</a><p>
                                {% endif %}
                            {% endfor %}
                    </td>
                    <td><a href="{{ path('user', {'user_id' : pack.initial.userId}) }}"><i class="small material-icons">insert_chart</i></a></td>
                    <td><a href="{{ path('pack_edit', { 'id': pack.id }) }}"><i class="small material-icons">mode_edit</i></a></td>
                    <td>
                        <p>{{ pack.infos }}</p>
                        <p><a href="{{ path('infos', { 'id': pack.id }) }}"><i class="small material-icons">mode_edit</i></a></p>
                    </td>

                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="navigation">
        {{ knp_pagination_render(packs) }}
    </div>
{% endblock %}
