{% extends 'base.html.twig' %}

{% block pageTitle %}CostaFitness : Listing des utilisateurs{% endblock %}
{% block headingTitle %}Listing des athlètes{% endblock %}
{% block pageClass %}userList{% endblock %}

{% block body %}
    <table border="1" style="width:100%">
        <tr>
            <td>Nom & Prénom</td>
            <td>Mail</td>
            <td>Pack en cours</td> 
            <td>Options</td> 
            <td>Bilans</td>
            <td>Evolution</td>
        </tr>
        {% for user in users %}    
            <tr>
                <td>{{ user.firstname }} {{ user.lastname }}</td>
                <td><a href="mailto:{{ user.email }}">{{ user.email }}</a></td>
                <td>
                    {% for pack in user.packs %}
                        {% if loop.last %}
                            <p>{{ pack.packName }}</p>
                            {% if pack.packType != "food" and pack.startedAt is null %}
                                <p><a href="{{ path('start_pack', {'pack_id' : pack.id}) }}" >Démarrer : {{ pack.packName }} </a></p>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </td>
                <td>
                    {% for pack in user.packs %}
                        {% if loop.last and pack.status != 'new' %}
                            {% for option in pack.options %}
                                <p>{{option}}</p>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </td>
                <td>
                    <p><a href="{{ path('initial', {'userId':user.userId}) }}" class="link">Bilan Initial</a><p>
                    {% for pack in user.packs %}
                        {% for result in pack.results %}
                            {% if result.resultType == constant('AppBundle\\Entity\\Result::ESTHETIC') %}
                            <p><a href="{{ path('results', {'resultId': result.id}) }}" class="link">Bilan {{ result.createdAt|date('d/m/Y') }}</a><p>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </td>
                <td><a href="{{ path('user', {'user_id' : user.userId}) }}" class="btn">Page évolution</a></td>
            </tr>
        {% endfor %}

    </table>
{% endblock %}
