{% extends 'base.html.twig' %}

{% block pageTitle %}CostaFitness : Évolution athlète{% endblock %}
{% block headingTitle %}Évolution athlète ({{user.firstname}} {{user.lastname}}){% endblock %}
{% block pageClass %}userEvolution{% endblock %}

{% block head %}
    <script src="http://code.highcharts.com/highcharts.js"></script>
{% endblock %}

{% block body %}
    <span style="float:right">{{ include('AppBundle:Results:identity.html.twig', { 'pack': user.packs.last }) }}</span>
    {% if user.packs.last.status == constant('AppBundle\\Entity\\Pack::STATUS_ONGOING') %}
        <h5>Mettre en pause son pack</h5>
        <div class="row">
            <form method="get" action="{{ path('stop_pack', {'pack_id':user.packs.last.id}) }}">
                <div>    
                    <input placeholder="Raison" type="text" name="pauseReason" class="col s3" required>
                    <select name="nbWeek" class="col s2">
                        <option value="1">1 semaine</option>
                        <option value="2">2 semaines</option>
                        <option value="3">3 semaines</option>
                        <option value="4">4 semaines</option>
                        <option value="5">5 semaines</option>
                        <option value="6">6 semaines</option>
                        <option value="7">7 semaines</option>
                        <option value="8">8 semaines</option>
                    </select>
                </div>
                <button class="btn waves-effect waves-light" type="submit" name="action" style="height: 30px; font-size: 12px">Envoyer</button>
            </form> 
        </div>
    {% elseif user.packs.last.status == constant('AppBundle\\Entity\\Pack::STATUS_PAUSE') %}
        <p> En pause jusqu'au {{ user.packs.last.resumeAt|date("d/m/Y") }}</p>
        <p> Raison : {{ user.packs.last.pauseReason }}</p>
    {% endif %}
    
    {% if app.user.id  is defined %}
        <h5>Ajouter des semaines</h5>
        <div class="row">
            <form method="get" action="{{ path('add_week', {'pack_id':user.packs.last.id}) }}">
                <div>    
                    <select name="nbWeek" class="col s2">
                        <option value="1">1 semaine</option>
                        <option value="2">2 semaines</option>
                        <option value="3">3 semaines</option>
                        <option value="4">4 semaines</option>
                        <option value="5">5 semaines</option>
                        <option value="6">6 semaines</option>
                        <option value="7">7 semaines</option>
                        <option value="8">8 semaines</option>
                    </select>
                </div>
                <button class="btn waves-effect waves-light" type="submit" name="action" style="height: 30px; font-size: 12px">Ajouter</button>
            </form> 
        </div>
    {% endif %}
    <h5>Mensurations</h5>
    <table class="bordered striped highlight responsive-table centered">
        <thead>
            <tr>
                {% if app.user.id  is defined %}<th>Fait</th>{% endif %}
                <th>Bilans</th>
                <th>Poids</th>
                <th>Masse grasse</th>
                <th>Épaules</th>
                <th>Pectoraux</th>
                <th>Taille</th>
                <th>Bras contracté</th>
                <th>Cuisse</th>
            </tr>
        <thead>
        <tbody>
            <tr>
                {% if app.user.id  is defined %}<td></td>{% endif %}
                <td><a href="{{ path('initial', {'userId':user.userId}) }}" class="link">Initial</a></td>
                <td>{{ user.weight}}</td>
                <td>{{ user.imc}}</td>
                <td>{{ user.shoulders}}</td>
                <td>{{ user.pectorals}}</td>
                <td>{{ user.hipSize}}</td>
                <td>{{ user.arms}}</td>
                <td>{{ user.thighs}}</td>
            </tr>
            {% for pack in user.packs %}
                {% for result in pack.results %}
                    <tr>
                        {% if app.user.id  is defined %}
                        <td><div class='switch'>
                                <label>
                                    <input name='done' type='hidden' value='0'>
                                    <input name='done' type='checkbox' onclick="switchButton('{{ path('result_done', {'id':result.id}) }}')" {% if result.done %}checked{% endif %} >
                                    <span class='lever'></span>
                                </label>
                            </div>
                        </td>
                        {% endif %}
                        <td><a href="{{ path('results', {'resultId': result.id}) }}">{{ result.createdAt|date_modify("+7 day")|date('d/m/Y') }}</a></td>
                        <td>{{ result.weight}}</td>
                        <td>{{ result.imc}}</td>
                        <td>{{ result.shoulders}}</td>
                        <td>{{ result.pectorals}}</td>
                        <td>{{ result.hipSize}}</td>
                        <td>{{ result.arms}}</td>
                        <td>{{ result.thighs}}</td>
                    </tr>
                {% endfor %}
            {% endfor %}
        </tbody>
    </table>
    <h5>Photos</h5>
    <table class="bordered striped highlight responsive-table centered">
        <thead>
            <tr>
                <th>Bilans</th>
                <th><a href="{{ path('initial', {'userId':user.userId}) }}" class="link">Initial</a></th>
                {% for pack in user.packs %}
                    {% for result in pack.results %}
                        {% if result.resultType == constant('AppBundle\\Entity\\Result::ESTHETIC') %}
                                <th><a href="{{ path('results', {'resultId': result.id}) }}">{{ result.createdAt|date_modify("+7 day")|date('d/m/Y') }}</a></th>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Photo Face</td>
                <td>
                    {% if user.photoFront is not null %}
                        <a class="fancybox" rel="group" href="{{ asset('uploads/photos/' ~ user.photoFront) }}"><img width = "250px" src="{{ asset('uploads/photos/' ~ user.photoFront) }}" /></a>
                    {% endif %}            
                </td>
                {% for pack in user.packs %}
                    {% for result in pack.results %}
                        {% if result.resultType == constant('AppBundle\\Entity\\Result::ESTHETIC') %}
                            <td>
                                {% if result.photoFront is not null %}
                                    <a class="fancybox" rel="group" href="{{ asset('uploads/photos/' ~ result.photoFront) }}"><img width = "250px" src="{{ asset('uploads/photos/' ~ result.photoFront) }}" /></a>
                                {% endif %}            
                            </td>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </tr>
            <tr>
                <td>Photo Côté</td>
                <td>
                    {% if user.photoSide is not null %}
                        <a class="fancybox" rel="group" href="{{ asset('uploads/photos/' ~ user.photoSide) }}"><img width = "250px" src="{{ asset('uploads/photos/' ~ user.photoSide) }}" /></a>
                    {% endif %}                
                </td>
                {% for pack in user.packs %}
                    {% for result in pack.results %}
                        {% if result.resultType == constant('AppBundle\\Entity\\Result::ESTHETIC') %}
                            <td>
                                {% if result.photoSide is not null %}
                                    <a class="fancybox" rel="group" href="{{ asset('uploads/photos/' ~ result.photoSide) }}"><img width = "250px" src="{{ asset('uploads/photos/' ~ result.photoSide) }}" /></a>
                                {% endif %}            
                            </td>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </tr>
            <tr>
                <td>Photo Dos</td>
                <td>
                    {% if user.photoBack is not null %}
                        <a class="fancybox" rel="group" href="{{ asset('uploads/photos/' ~ user.photoBack) }}"><img width = "250px" src="{{ asset('uploads/photos/' ~ user.photoBack) }}" /></a>
                    {% endif %}                
                </td>
                {% for pack in user.packs %}
                    {% for result in pack.results %}
                        {% if result.resultType == constant('AppBundle\\Entity\\Result::ESTHETIC') %}
                            <td>
                                {% if result.photoBack is not null %}
                                    <a class="fancybox" rel="group" href="{{ asset('uploads/photos/' ~ result.photoBack) }}"><img width = "250px" src="{{ asset('uploads/photos/' ~ result.photoBack) }}" /></a>
                                {% endif %}            
                            </td>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </tr>
        <tbody>
    </table>
    {% if performances is not null %}
        <h5>Performances</h5>
        <script>
            var data_repeat;
            var data_unit;
            var unit;
            var date;
            {% for key,exercise in performances %}

            </script>
            <div id="{{ key|replace(' ', '-') }}" class="higchart_line" style="width:50%; height:200px;"></div>
            <script>
                $(function () {
                    data_repeat = new Array();
                    data_unit = new Array();
                    date = new Array();
                {% for result in exercise %}
                        data_repeat.push({{ result[0] }});
                        data_unit.push({{ result[1]|replace(',', '.') }});
                        date.push('{{ result[3]|date("d/m") }}');
                    {% if loop.first %}
                            unit = '{{ result[2] }}';
                    {% endif %}
                {% endfor %}

                        $('#{{ key|replace(' ', '-') }}').highcharts({
                            title: {
                                text: '{{ key }}',
                                x: -20 //center
                            },
                            xAxis: {
                                categories: date
                            },
                            yAxis: {
                                title: {
                                    text: 'Nb'
                                },
                                plotLines: [{
                                        value: 0,
                                        width: 1,
                                        color: '#808080'
                                    }]
                            },
                            legend: {
                                layout: 'vertical',
                                align: 'right',
                                verticalAlign: 'middle',
                                borderWidth: 0
                            },
                            series: [{
                                    name: 'Répétition',
                                    data: data_repeat
                                }, {
                                    name: unit,
                                    data: data_unit
                                }, ]
                        });
                    });
            {% endfor %}
        </script>

    {% endif %}

{% endblock %}
