{% extends 'base.html.twig' %}

{% block pageTitle %}CostaFitness : Évolution athlète - USERNAME{% endblock %}
{% block headingTitle %}Évolution athlète {% endblock %}
{% block pageClass %}userEvolution{% endblock %}

{% block body %}

    <table border="1" style="width:100%">
        <tr>
            <td>Bilan</td>
            <td>Poids</td>
            <td>Masse grasse</td>
            <td>Épaules</td>
            <td>Pectoraux</td>
            <td>Taille</td>
            <td>Bras contracté</td>
            <td>Cuisse</td>
        </tr>
        <tr>
            <td>Initial</td>
            <td>{{ user.weight}}</td>
            <td>{{ user.imc}}</td>
            <td>{{ user.shoulders}}</td>
            <td>{{ user.pectorals}}</td>
            <td>{{ user.hipSize}}</td>
            <td>{{ user.arms}}</td>
            <td>{{ user.thighs}}</td>
        </tr>
        

    </table>

    <table border="1" style="width:100%">
        <tr>
            <td>Bilan</td>
            <td>Photo Face</td>
            <td>Photo Côté</td>
            <td>Photo Dos</td>
        </tr>
        <tr>
            <td>Initial</td>
            <td><img src=""></td>
            <td><img src=""></td>
            <td><img src=""></td>
        </tr>

    </table>
{% endblock %}
