{% extends 'base.html.twig' %}

{% block pageTitle %}CostaFitness : Évolution athlète{% endblock %}
{% block headingTitle %}Évolution athlète{% endblock %}
{% block pageClass %}userEvolution{% endblock %}

{% block body %}

    <table border="1" style="width:100%">
        <tr>
            <td>Bilan</td>
            <td>Poids</td>
            <td>Masse grasse</td>
            <td>Épaules</td>
            <td>Pectoraux</td>
            <td>Taille</td>
            <td>Bras contracté</td>
            <td>Cuisse</td>
        </tr>
        <tr>
            <td>Initial</td>
            <td>{{ user.weight}}</td>
            <td>{{ user.imc}}</td>
            <td>{{ user.shoulders}}</td>
            <td>{{ user.pectorals}}</td>
            <td>{{ user.hipSize}}</td>
            <td>{{ user.arms}}</td>
            <td>{{ user.thighs}}</td>
        </tr>
        <tr>
            {% for pack in user.packs %}
                {% for result in pack.results %}
                    <td>{{ result.createdAt|date('d/m/Y') }}</td>
                    <td>{{ result.weight}}</td>
                    <td>{{ result.imc}}</td>
                    <td>{{ result.shoulders}}</td>
                    <td>{{ result.pectorals}}</td>
                    <td>{{ result.hipSize}}</td>
                    <td>{{ result.arms}}</td>
                    <td>{{ result.thighs}}</td>
                </tr>
            {% endfor %}
        {% endfor %}

    </table>

    <table border="1" style="width:100%">
        <tr>
            <td>Bilan</td>
            <td>Photo Face</td>
            <td>Photo Côté</td>
            <td>Photo Dos</td>
        </tr>
        <tr>
            <td>Initial</td>
            <td>
                {% if user.photoFront is not null %}
                    <img width = "100px" src="{{ asset('uploads/photos/' ~ user.photoFront) }}" />
                {% endif %}            
            </td>
            <td>
                {% if user.photoSide is not null %}
                    <img width = "100px" src="{{ asset('uploads/photos/' ~ user.photoSide) }}" />
                {% endif %}                
            </td>
            <td>
                {% if user.photoBack is not null %}
                    <img width = "100px" src="{{ asset('uploads/photos/' ~ user.photoBack) }}" />
                {% endif %}                
            </td>
        </tr>

    </table>
{% endblock %}
